body {
    text-align: center;
}
h1{
    text-transform: uppercase;
    text-decoration: underline;
}
.choice-button{
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    border: 2px solid rgb(35, 179, 195);
    cursor: pointer;
   
}
.choice-button:active{
border: 4px solid green;
}
.choice-image{
    height: 75px;
    width: 80px;

}
.reset-button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(99, 163, 99);
}
.reset-button:active{
    border:2px solid red;
}